#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: auto auto;
    border-bottom: 1px solid black;
    height: 80px;
    margin: -8px;
    flex-direction: row;
    justify-content: space-evenly;
}
.page-title{
    width: 1100px
}
#search-bar{
    border: 1px solid black;
}
#body-container {
    border: 1px solid black;
    display: flex;
    position: relative;
    height: 800px;
    width: 1920px;
    top: 8px;
    justify-content: space-around;
    right: 10px;
}
#watchlist {
    width: 500px;
    height: 90%;
    position: relative;
    display: grid;
    border: 2px solid black;
    top: 40px;
    /* left: 50px; */
    padding: 10px;
    overflow-y: auto;
}
ul {
    list-style-type: none;
    padding: 0;
}
li{
    padding: 10px;
}
.movie-cell{
    display: flex;
    padding: 10px;
    border: 1px solid black;
}
.title {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 240px;
    height: 30px;
    text-align: left;
}
.remove-button {
    position: relative;
    left: 112px;
    top: -10px;
    height: 25px;
    width: 25px;
    background-color: red;
    color: white;
    border: 1px transparent;
    /* border-radius: 10px; */
    padding: 5px;
    cursor: pointer;
}
.tag {
    height :20px;
    bottom: -6px;
    position: relative;
    display: inline-block;
    padding: 3px 5px; /* Adjust padding as needed */
    background-color: #f0f0f0; /* Background color for the tag */
    border: 1px solid #ccc; /* Border color and width */
    border-radius: 10px; /* Border radius to create rounded corners */

}
#queried-movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    position: relative;
    top: 15px;
    /* right: 50px; */
    /* bottom: 50px; */
    margin-left: 20px;
    margin-right: 20px;
    height: 727px;
    width: 690px;
    background-color: #f0f0f0;
    padding: 20px;
    overflow-y: auto;
}
.searched-movies-div{
    display :flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 160px;
}
.poster-image{
    border: solid rgb(0, 0, 0);
    width : 150px;
    height: 222px;
    padding: 5px;
}
.posterImage img{
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
}
#info-box-container {
    position: fixed;
    display: grid;
    grid-template-rows: 400px auto auto;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 600px;
    background-color: aliceblue;
}
#info-box-row-1{
    display: grid;
    grid-template-columns: 500px auto;
}
#title-overview-column{
    width:auto;
    height:auto;
}
#title-overview-column{
    border: 2px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#title-info-box{
    padding:5px;
}
#overview-info-box{
    padding:5px;
}    
#poster-column{
    display: grid;
    justify-items: center;
    border: 2px solid black;
}
#poster-column img{
    height: 240px;
    width: 150px;
    padding :10px;
}
#poster-column p{
    font-family: Arial, Helvetica, sans-serif;
}
#genre-container{
    border: 2px solid black;
    display: flex;
}
#genre-container p{
    font-family: "Arial, Helvetica, sans-serif";
    border: 2px solid black;
    padding : 10px;
}
#button-container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: end;
    padding: 5px;
}